/**
 * Default
 */
.ast-desktop {
  /**
     * Underline
     */
  /**
     * Overline
     */
}

.ast-desktop .ast-link-pointer-style > li,
.ast-desktop .ast-link-pointer-style > li > a {
  position: relative;
}

.ast-desktop .ast-link-pointer-style > li > a {
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.ast-desktop .ast-link-pointer-style > li > a:before {
  display: block;
  position: absolute;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.ast-desktop .ast-link-pointer-style > li > a:not(:hover):not(:focus):before {
  opacity: 0;
}

.ast-desktop .ast-link-pointer-style > li:hover > a:not(:hover):not(:focus):before {
  opacity: 1;
}

.ast-desktop .ast-link-pointer-style-underline > li > a:before {
  content: '';
  bottom: 0;
}

.ast-desktop .ast-link-pointer-style-underline > li > a:before {
  height: 3px;
  width: 100%;
  right: 0;
  background-color: #0274be;
  z-index: 2;
}

.ast-desktop .ast-link-pointer-style-overline > li > a:before {
  content: '';
  top: 0;
}

.ast-desktop .ast-link-pointer-style-overline > li > a:before {
  height: 3px;
  width: 100%;
  right: 0;
  background-color: #0274be;
  z-index: 2;
}
