@font-face {
	font-family: 'ast-logo';
	src:    url('fonts/ast-logo.eot?476cfz');
	src:    url('fonts/ast-logo.eot?476cfz#iefix') format('embedded-opentype'),
		url('fonts/ast-logo.ttf?476cfz') format('truetype'),
		url('fonts/ast-logo.woff?476cfz') format('woff'),
		url('fonts/ast-logo.svg?476cfz#ast-logo') format('svg');
	font-weight: normal;
	font-style: normal;
}
#wp-admin-bar-astra .ab-icon:before,
#toplevel_page_astra .wp-menu-image:before,
[class^="ast-icon-"],
[class*=" ast-icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'ast-logo' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#wp-admin-bar-astra .ab-icon:before,
#toplevel_page_astra .wp-menu-image:before,
.ast-icon-logo:before {
	content: "\e900" !important;
}

#side-sortables #astra_settings_meta_box select {
	min-width: 100%;
}

#normal-sortables #astra_settings_meta_box select {
	min-width: 200px;
}

.customize-control {
	position: relative;
}

.customize-control .ast-control-tooltip {
    position: absolute;
    top: 6px;
    right: 0;
}
.customize-control.customize-control-ast-divider .ast-control-tooltip {
    position: absolute;
    top: auto;
    bottom: 3px;
    right: 0;
}
.astra-review-notice-container {
	display: flex;
	align-items: center;
	padding-top: 10px;
}

.astra-review-notice-container .dashicons {
    font-size: 1.4em;
	padding-left: 10px;
}

.astra-review-notice-container a {
    padding-left: 5px;
    text-decoration: none;
}

.astra-review-notice-container .dashicons:first-child {
    padding-left: 0;
}

.notice-image img {
    width: 6%;
    vertical-align: top;
}

.notice-content {
    display: inline-block;
    padding-top: 7px;
}

.notice-content .notice-heading {
    padding-bottom: 5px;
}

.notice-image {
    width: 100%;
    display: inline;
}

.notice-content {
    margin-left: 20px;
}

.notice-container {
    padding-top: 20px;
    padding-bottom: 15px;
}